#
# A safe .gitignore for a dotfiles repository.
#
# 1. Ignore EVERYTHING by default.
*

# 2. Whitelist ONLY the files/folders you want to track.
#    You must "un-ignore" every level of the path.
#

# .gitignore
!/.gitignore

# hypr
!/.config/
/.config/*
!/.config/hypr/
/.config/hypr/*
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprpaper.conf
!/.config/hypr/scripts/
!/.config/hypr/wallpapers/


