#
# Ignore EVERYTHING by default.
*

# .gitignore and README.
!/.gitignore
!/README.md

# .config directory (but not its contents).
!/.config/

# all contents of .config.
/.config/*

#
# --- Whitelisted Configs ---
#

# archguide (package list)
!/.config/archguide.md

# hypr
!/.config/hypr/
/.config/hypr/*
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprpaper.conf
!/.config/hypr/scripts/
!/.config/hypr/scripts/*
!/.config/hypr/wallpapers/
!/.config/hypr/wallpapers/*

# kitty 
!/.config/kitty/
!/.config/kitty/*

# dunst
!/.config/dunst/
/.config/dunst/*
!/.config/dunst/dunstrc
