#
# A safe .gitignore for a dotfiles repository.
#
# 1. Ignore EVERYTHING by default.
*

# 2. Whitelist ONLY the files/folders you want to track.
#    You must "un-ignore" every level of the path.
#

# .gitignore
!/.gitignore







